<p ng-if="errors">{{errors}}</p>

<form name="loginForm"
      ng-submit="loginForm.$valid && login(creds)" 
      novalidate>
     	
	<div>
		<div>
			<label class="tyt-login-username" for="username">Username:</label>
			<input class="tyt-login-password" type="text" id="username" name="username" ng-model="creds.username" />
		</div>
		<div>
			<label class="tyt-login-username" for="password">Password:</label>	
			<input class="tyt-login-password" type="password" id="password" name="password" ng-model="creds.password"/>
		</div>
	</div>

	<div class="tyt-login-button">
		<button type="submit" class="btn btn-primary">Login</button>
	</div>

</form>